.intestazione{
    background-color: rgb(240, 128, 210);
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 16px;
    border-style: solid;
    border-color: rgb(224, 10, 185);
    border-width: 16px;
    border-radius: 30px;
}
.link-navigazione{
    color: aliceblue;
    font-weight: bold;
    
}

.immagine-spostabile{
    position: absolute;
    top: 500px;
    left: 500px;
}